main{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 0 8px;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin: 0 8px 3px 8px;
}

header button{
    margin-top: 0.5%;
    margin-right: -75%;
    background-color: black;
    color: white;
    padding: 5px;
    height: 80%;
    width: 5%;
}

main article{
    padding: 2%;
    height: 25vh;
    border: 1px solid black;
    margin: 2%;
}

footer{
    border-top: 3px solid black;
    margin: 3px 8px;;
    padding-bottom: 25px;
}

footer p{
    font-weight: bold;
    padding-left: 25px;
}

footer h3{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: smaller;
    margin-top: 3%;
}

.italic{
    font-style: italic;
    font-weight: 400;
}

#post{
    font-style: italic;
    margin-bottom: 4%;
}



